.clients_say {
    margin: 100px 0;
  text-align: center;
  h1 {
    color: #2c2d2e !important;
    font-size: 95px;
  }
  .person_name {
    font-size: 30px;
    margin: 30px 0;
  }
  p {
    width: 50%;
    margin: 0 auto;
    color: #2c2d2e !important;
  }
}
