.blog {
  background-color: #4c4e50;
  padding: 100px 0;

  .title {
    font-size: 60px;
  }
  .blog_inside {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 50px 0;
    .blog_title {
      color: #131212;
      span {
        color: #fff;
      }
      margin-bottom: 20px;
      border-bottom: 1px solid #fff;
    }
    p {
      color: #fff;
    }
    a {
      display: inline-block;
      margin: 20px 0;
      font-size: 20px;
      font-weight: 600;
      color: #fff;
      transition: 0.6s ease;
      @include hover(#ea202e);
    }
  }
  .button_wrapper {
    text-align: center;
    .button {
      margin: 0 auto;
      @include bhover(#2c2d2e);
      text-transform: uppercase;
    }
  }
}

.news {
  background-color: #ea202e;
  padding: 100px 0;

  .title {
    font-size: 50px;
    margin-bottom: 30px;
  }
  .news_inside {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #fff;
    grid-gap: 30px;
    .new {
      display: grid;
      grid-template-columns: (1fr 3fr);
      .date {
        background-color: #fff;
        color: #ea202e;
        display: flex;
        align-items: center;
        text-align: center;
        font-weight: 400;
        justify-content: center;
        margin-right: 20px;
      }
      .text {
        margin: 20px 0;
        h1 {
          font-size: 20px;
        }
      }
    }
  }
}

.cycle {
  margin: 100px 0;
  .title {
    color: #000;
    font-size: 50px;
  }
  .cycle_inside {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
    h1{
        font-size: 20px;
    }
  }
}
